<div id="react-app">{{{markup}}}</div>
<script id="initial-state" type="application/json">{{{state}}}</script>


<script src="/socket.io/socket.io.js"></script>    
<script src="/js/playgame-bundle.js"></script>